@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg">
</div>
<br />
<br />
<!--This is the landing page-->